* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #050505;
    color: white;
    font-family: Arial, sans-serif;
}


.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}


.gold {

    font-size: clamp(8rem, 20vw, 22rem);
    font-weight: 900;
    letter-spacing: -0.05em;

    background:

    /* moving light reflection */
    radial-gradient(
        circle at var(--lightX) var(--lightY),
        white 0%,
        rgba(255,255,255,.8) 5%,
        transparent 18%
    ),

    /* metallic gold bands */
    linear-gradient(
        120deg,
        #211200 0%,
        #704900 12%,
        #d6a72c 22%,
        #fff4bd 30%,
        #a96f00 42%,
        #ffe890 55%,
        #9a6100 68%,
        #f7d774 82%,
        #2a1700 100%
    );


    background-size:
        200% 200%,
        200% 200%;


    background-position:
        var(--lightX) var(--lightY),
        var(--goldX) var(--goldY);


    -webkit-background-clip:text;
    background-clip:text;

    -webkit-text-fill-color:transparent;
    color:transparent;


    animation:
        idleGold 8s ease-in-out infinite;

}


@keyframes idleGold {

    0%,100% {
        --goldX:40%;
        --goldY:50%;
    }

    50% {
        --goldX:60%;
        --goldY:45%;
    }

}


.spacer {
    height:250vh;
}